.ListFact {
    background-color: #D9D9D9;
    padding:40px; 
    width: 100%;
    gap: 20px;
}



.paragraph{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* texte */

p {
    font-size: 17px;
}

h1{
    font-size: 25px;
}