@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "N27-Regular";
    src: url("./fonts/N27/n27-regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "Mars_Regular-Trial";
    src: url("./fonts/Mars/MarsCondensedWeb-Regular-Trial.woff2") format("woff2");
}

.buttonComponent{
    background-color:'red';
}